/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* ---------------- common styles ---------------- */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 70px;
}

h4 {
    font-size: 20px;
    font-weight: 600;
}

h5 {
    font-size: 18px;
    font-weight: 600;
}

p {
    font-size: 16px;
}

/* ---------------- header section styling --------------- */
header {
    margin: 3% 8%;
    display: flex;
    background-color: #161616;
    border-radius: 30px;
    margin-bottom: 7%;
}


.banner-texts {
    width: 50%;
    margin: 5% 0% 5% 8%;
    color: white;
}

.banner-texts h1 {
    line-height: 1.2em;
    margin-top: 5%;
    margin-bottom: 1%;
}

.banner-texts p {
    display: block;
    margin-bottom: 10%;
}

.banner-texts .button {
    text-decoration: none;
    border: none;
    background-color: #DD0000;
    color: white;
    border-radius: 5px;
    padding: 15px 24px;
}

.banner-img {
    margin: 3% 0% 0% 3%;
    width: 50%;
    display: flex;
    align-items: flex-end;
}

.banner-img img {
    width: 90%;
    height: auto;
}

/* -------------------- section 2 styling ------------------- */
.section-area {
    margin: 3% 8% 7% 8%;
    display: flex;
    justify-content: center;
}

/* ---------------- navigation menu styling --------------- */

.section-area .nav {
    max-width: 25%;
    background-color: #161616;
    border-radius: 10px;
    padding: 0.75% 2%;
    max-height: 293px;
    margin-right: 2%;
}

.section-area .nav a.nav-button {

    display: flex;
    width: 252px;
    height: 64px;
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin: 10% 0%;
    justify-content: center;
    align-items: center;
}

.section-area .nav a.nav-button:hover {
    background-color: #DD0000;
    color: white;
}

/* ------------- upcomingMatches styling ------------- */

.section-area .upcomingMatches {
    width: 75%;
    display: grid;
    justify-content: space-evenly;
    Grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
    row-gap: 6%;
}

.section-area .upcomingMatches .matches {
    border: #E8E8E8 solid 1px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.section-area .upcomingMatches .matches .teams {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.section-area .upcomingMatches .matches .teams img {
    margin: 5%;
}

.section-area .upcomingMatches .matches .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}

.section-area .upcomingMatches .matches .details h4 {
    margin: 0 auto;
}

.section-area .upcomingMatches .matches .details p {
    margin: 0 auto;
    color: #4D4D4D;
}

.view-all-btn {
    padding: 1% 2%;
    background-color: #DD0000;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    visibility: hidden;
}

/* --------------- blogs styling ---------------- */

.section-area .blogs {
    width: 75%;
    display: grid;
    justify-content: space-evenly;
    Grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    row-gap: 2%;
}

.section-area .blogs .blog {
    border: #E8E8E8 solid 1px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.section-area .blogs .blog .images img {
    width: 100%;
}

.section-area .blogs .blog .details {
    padding: 8% 2%;
}

.section-area .blogs .blog .details a.button {
    margin-left: 3.5%;
    padding: 1.5% 4%;
    color: black;
    font-weight: 600;
    text-decoration: none;
    border: #161616 solid 1px;
    border-radius: 3px;
}

.section-area .blogs .blog .details h5 {
    margin: 3%;
}

.section-area .blogs .blog .details .extra-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0% 5%;
    color: #4D4D4D;
}

.section-area .blogs .blog .details .extra-details p {
    margin: 0% 10% 0% 2%;
}

/* --------------- footer styling -------------- */
footer {
    background-color: black;
    text-align: center;
    margin: 0%;
    padding: 2%;
    color: white;
}

footer h2 {
    font-size: 40px;
}

footer hr {
    width: 80%;
    border-top: white;
    opacity: 30%;
}

footer .links {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

footer .links a {
    display: inline-block;
    text-decoration: none;
    color: #B9B9B9;
    margin: 2%;
}

footer .social-links {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    margin: 2% 40% 5% 40%;
}

footer .social-links i {
    color: white;
    font-size: 30px;
}


/* --------------------- responsive media query for tablet --------------------- */
@media screen and (max-width: 992px) and (min-width: 689px) {

    h1 {
        font-size: 40px;
    }

    /* -------------------- section 2 styling ------------------- */
    .section-area {
        margin: 3% 8% 8% 8%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    /* ---------------- navigation menu styling --------------- */

    .section-area .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: none;
        background-color: white;
        border-radius: 10px;
        padding: 0%;
        margin-right: 0;
    }

    .section-area .upcomingMatches {
        width: 100%;
        display: grid;
        justify-content: space-evenly;
        Grid-template-columns: repeat(2, 1fr);
        column-gap: 3%;
        row-gap: 3%;
    }

    .section-area .blogs {
        width: 100%;
        display: grid;
        justify-content: space-evenly;
        Grid-template-columns: repeat(2, 1fr);
        column-gap: 2%;
        row-gap: 2%;
    }

    .view-all-btn {
        margin-top: 20%;
        visibility: visible;
        margin-bottom: 10%;
    }

    footer .links {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* --------------------------- responsive media query for mobiles ------------------------- */

@media screen and (max-width: 688px) {
    h1 {
        font-size: 26px;
    }

    header {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        margin-bottom: 7%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .banner-texts {
        width: 50%;
        margin: 5% 0% 5%;
        color: white;
    }

    .banner-texts p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* -------------------- section 2 styling ------------------- */
    .section-area {
        margin: 3% 8% 8% 8%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    /* ---------------- navigation menu styling --------------- */

    .section-area .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: none;
        background-color: white;
        border-radius: 10px;
        padding: 0%;
        margin-right: 0;
    }

    .section-area .upcomingMatches {
        width: 100%;
        display: grid;
        justify-content: space-evenly;
        Grid-template-columns: repeat(1, 1fr);
        row-gap: 2%;
    }

    .section-area .blogs {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        justify-content: space-evenly;
        Grid-template-columns: repeat(1, 1fr);
        row-gap: 1%;
    }

    .section-area .nav a.nav-button {
        text-decoration: none;
        border: none;
        background-color: white;
        color: black;
        margin: 2% 0%;
        justify-content: center;
        align-items: center;
    }

    footer {
        margin-top: 40%;
    }

    footer .links {
        display: flex;
        flex-direction: column;
    }

}