/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* ---------------- common styles ---------------- */
body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 70px;
}

h4 {
    font-size: 20px;
    font-weight: 600;
}

p {
    font-size: 16px;
}

/* ---------------- header section styling --------------- */
header {
    margin: 3% 8%;
    max-width: 1320px;
    max-height: 645px;
    display: flex;
    background-color: #161616;
    border-radius: 30px;
    margin-bottom: 7%;
}

.banner-texts {
    width: 50%;
    margin: 5% 0% 5% 8%;
    color: white;
}

.banner-texts h1 {
    line-height: 1.2em;
    margin-top: 5%;
    margin-bottom: 1%;
}

.banner-texts p {
    display: block;
    margin-bottom: 10%;
}

.banner-texts .button {
    text-decoration: none;
    border: none;
    background-color: #DD0000;
    color: white;
    border-radius: 5px;
    padding: 15px 24px;
}

.banner-img {
    margin: 3% 0% 0% 3%;
    width: 50%;
}

.banner-img img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

/* -------------------- section 2 styling ------------------- */
.section-area {
    margin: 3% 8%;
    max-width: 1320px;
    max-height: 645px;
    display: flex;
    justify-content: center;
}

.section-area .nav {
    max-width: 25%;
    background-color: #161616;
    border-radius: 10px;
    padding: 0.75% 2%;
    max-height: 293px;
    margin-right: 2%;
}

.section-area .nav a.nav-button {

    display: flex;
    width: 252px;
    height: 64px;
    text-decoration: none;
    border: none;
    background-color: #DD0000;
    color: white;
    border-radius: 10px;
    margin: 10% 0%;
    justify-content: center;
    align-items: center;
}

.section-area .blogs {
    width: 75%;
    display: grid;
    justify-content: space-evenly;
    Grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
    row-gap: 6%;
}

.section-area .blogs .matches {
    border: #E8E8E8 solid 1px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.section-area .blogs .matches .teams {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.section-area .blogs .matches .teams img {
    margin: 5%;
}

.section-area .blogs .matches .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}

.section-area .blogs .matches .details h4 {
    margin: 0 auto;
}

.section-area .blogs .matches .details p {
    margin: 0 auto;
    color: #4D4D4D;
}



/* --------------- footer styling -------------- */
footer {
    background-color: #161616;
    text-align: center;
    margin: 0%;
    padding: 2%;
    color: white;
}

footer h2 {
    font-size: 40px;
}

footer hr {
    width: 80%;
    border-top: white;
    opacity: 30%;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: #B9B9B9;
    margin: 5% 2% 10%;
}